<article class="article u-backgroundGray u-paddingA">
	<div class="u-center u-paddingA">
		<h2 class="heading">COACHING</h2>
		<p>Coaching handlar om att hjälpa dig att nå dina mål. Vi utgår från nuläget och tittar framåt mot ett specifikt mål, utan att grotta i det som varit. Vi fokuserar på möjligheter och lösningar och tar oss mot målet genom att titta och reflektera kring bland annat hinder. Med hjälp av dina resurser och din inre motivation skapar vi din egna handlingsplan för att nå målet. Allt enligt dina grundläggande värderingar. Mellan sessionerna får du hemläxor och övningar som du jobbar praktiskt med på egen hand. Med hjälp av coaching kommer du börja bygga ett nytt förhållningssätt till dig själv, ett förhållningssätt som du kan använda dig av i andra skeden i ditt liv.</p>
	</div>

	<div class="u-backgroundWhite u-paddingA">
		<h3 class="heading heading--small">Vanliga områden</h3>
		<div class="accordion">
		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">PERSONLIG UTVECKLING</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Personlig utveckling kommer inte utav sig själv utan är något man måste jobba med. Det är inte heller något man blir färdig med och den kan betyda olika saker i olika skeden i livet. Personlig utveckling skulle kunna vara att utforska sina värderingar, hitta en meningsfull fritid, skapa sig ett självförtroende och finna sin potential.
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">SJÄLVKÄNNEDOM</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Att bli coachad är ett effektivt sätt att öka sin självkännedom och att utveckla sin potential. Det innebär att lära sig om sina egna värderingar och mål i livet; förstå vad som är viktigt för en själv, vad ens målsättningar är, vad man tycker är rätt och fel, vad man känner passion för, och vad man ser som syftet eller meningen med ens liv. Ju bättre man känner sig själv, desto enklare blir det att ta viktiga beslut och att designa det liv man vill ha och leva.
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">SJÄLVKÄNSLA</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            En god självkänsla handlar om att ha en positiv uppfattning kring vem man är oberoende av prestationer, karriär eller hur mycket pengar man tjänar. Man litar på sitt eget omdöme och behöver inte söka bekräftelse från andra för att känna att man duger. Målet är att hitta sin trygghet inom sig själv, tycka om och respektera sig själv som man är oavsett situation. En god självkänsla hjälper en att lita på sig själv och göra val utifrån vad man själv vill.
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">VÄLMÅENDE</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Att jobba med sitt välmående handlar om att öka medvetenheten kring vad det är som får en att må bra i livet. Det kan handla om att hitta en balans mellan jobb och familj, vårda sina relationer, använda sin tid på ett sätt som känns meningsfullt, eller att hitta en avslappningsrutin för att uppleva mindre stress. Målet med coachningen är att uppnå en hållbar och balanserad livsstil.
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">KARRIÄR</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Karriärfokuserad coaching kan handla om att avancera i sin nuvarande roll eller att utvecklas i sitt ledarskap. Det kan också handla om att få hjälp att ta sig vidare i karriären, realisera drömmar, eller att lista ut vad det är man faktiskt vill göra med sitt liv.
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">RELATIONER</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Coaching inom relationer kan handla om relationen till sin partner eller en partner man inte har. Det kan handla om relationen till sina föräldrar eller sina barn. Eller önskan om ett barn. Det kan handla om relationer till vänner men det kan också handla om relationen till sig själv. 
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">HÄLSA</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Att coachas inom hälsa kan handla om träning, vikt men också hur man hanterar sjukdomar, fobier och sömnsvårigheter. 
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">LIVSHÄNDELSER</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Livet i sig är fullt av situationer som man inte kan ha föreställt sig om innan man hamnar där. Coaching inom livshändelser kan handla om till exempel ett nyblivet föräldraskap, en skilsmässa eller hur man ska hantera och leva med ett dödsfall.
		        </p>
		    </div>

		    <h4 class="accordion-heading"><a href="#" class="accordion-headingLink js-accordionToggler">JAG VILL BLI COACHAD MEN VET INTE INOM VAD</a></h4>
		    <div class="accordion-panel js-accordionPanel">
		        <p>
		            Det är inte alltid man är klar över vad du vill bli coachad inom. Man kan ha olika tankar och de kan tangera många områden. Är det så, så kommer vi hitta och sätta ditt mål tillsammans under den första delen av processen. Under resans gång kan det till och med bli så att ditt mål förändras.
		        </p>
		    </div>
		</div>
	</div>
</article>

<article class="article u-paddingA">
	<div class="u-center">
		<h2 class="heading">SAMTALSTERAPI</h2>
		<p>Samtalsterapi hjälper dig att skapa en inre trygghet och frihet, som gör att du får större möjligheter att välja det liv du vill leva. Med hjälp av terapi fördjupar du också förståelsen för dig själv, samt hur tankar, känslor och handlingar gemensamt påverkar dig och dina relationer. Terapins syfte är att hitta hem till den du innerst inne är men också att du med tiden ska kunna bli din egen terapeut. I samtalsterapi blickar vi tillbaka i livet, till exempel till barndomen, för att ta reda på varför det är som det är.</p>
		<p>Terapin utgår från vårt samarbete och anpassas alltid efter de behov du har och vad som ger dig mål och mening.</p>
	</div>
</article>

<article class="article u-backgroundGray u-paddingA">
	<div class="u-center u-paddingA">
		<h2 class="heading">PSYKOSYNTES</h2>
		<p>Inom psykosyntes är människan en helhet där kropp, själ, känslor och intellekt står i intimt samspel med varandra. Hur samspelet fungerar är avgörande för hur man mår, både psykiskt och fysiskt. Den moderna psykologins uppgift är att bidra till att människan får alla sina, till synes, motstridiga krafter i balans och harmoni.</p>
	</div>

	<div class="grid grid--gutterA">
		<div class="grid-cell">
			<div class="u-backgroundWhite u-paddingA">
				<h3>Fokus på din potential</h3>
				<p>Psykosyntes är en utvecklingsorienterad psykologi som fokuserar på det friska i varje individ. Istället för att se våra personliga svårigheter som begränsande, ser man inom psykosyntesen våra brister och tillkortakommanden som en stor utvecklingspotential. I varje problem vi upplever, finner vi ett frö till personlig utveckling och mognad. Psykosyntesen fokuserar på vår potential och hjälper oss att identifiera våra mål och vårt syfte med livet. Genom att anta de utmaningar som dyker upp på vägen utvecklas vi som individer.</p>
			</div>
		</div>

		<div class="grid-cell">
			<div class="u-backgroundWhite u-paddingA">
				<h3>Viljan som drivkraft</h3>
				<p>Det är viktigt att vi lyssnar på och respekterar vår egen vilja om livet ska kännas meningsfullt och vi ska känna oss lyckliga. Ändå är det påfallande ofta som viljan får stiga åt sidan, antingen för att andras behov upplevs som viktigare, för att vi är rädda eller helt enkelt därför att vi inte är vana att använda den. Psykosyntesen leder dig i riktning mot din egen innersta vilja och uppmuntrar dig att agera utifrån den.</p>
			</div>
		</div>

		<div class="grid-cell">
			<div class="u-backgroundWhite u-paddingA">
				<h3>Finna en mening</h3>
				<p>Nyckeln till ett hälsosamt liv är en känsla av meningsfullhet. Vet jag vem jag är och vad jag vill så kommer jag också att uppleva livet som meningsfullt. Psykosyntesen erbjuder dig metoder att finna meningen och ytterst syftet med ditt liv.</p>
			</div>
		</div>

		<div class="grid-cell">
			<div class="u-backgroundWhite u-paddingA">
				<h3>Praktisk psykologi</h3>
				<p>Psykosyntesen är en praktisk psykologi. Den ska inte bara få oss att förstå varför vi beter oss som vi gör, utan också hjälpa oss omsätta våra intellektuella insikter till praktiskt handlande. Då kan vi lära känna oss själva bättre, förstå våra behov och skapa en egen handlingsplan för livet. En handlingsplan som känns meningsfull att följa.</p>
			</div>
		</div>

		<div class="grid-cell">
			<div class="u-backgroundWhite u-paddingA">
				<h3>Psykosyntes är en livsattityd</h3>
				<p>Psykosyntes är mer än en psykologiform - det är en livsattityd. Psykosyntes är en öppen modell för personlig och organisatorisk utveckling där kärleken till oss själva och andra intar en viktig roll.</p>
			</div>
		</div>
	</div>
	<p>Källa: <a href="http://www.humanova.se" target="_blank">www.humanova.se</a></p>
</article>

<article class="article u-paddingV">
	<div class="grid grid--gutterA">
		<div class="grid-cell grid-cell--1of3">
			<img src="img/julia-maric.jpg">
		</div>
		<div class="grid-cell grid-cell--2of3">
			<h2 class="heading">Om mig</h2>
			<p>Jag har under 15 års tid jobbat ideellt med samtal och ur det har det växt ett mål om att en dag fördjupa mig mer i samtal och jobba med det professionellt. Det ledde till att jag 2015 påbörjade en samtalsterapiutbildning. Sedan tidigare har jag en magisterexamen inom farmaci och har även läst journalistik. De senaste åren har jag jobbat med rekrytering och HR, åren dessförinnan som projektledare inom läkemedelsindustrin.</p>
			<p>För mig är samtal nyckeln till harmoni, fred och kärlek. oavsett om det handlar om att skapa en bättre värld eller förbättra relationen till sig själv eller andra. Samtal i from av coachning och terapi är personlig utveckling.</p>
			<p>Jag arbetar med psykosyntes som grund, men lånar även metoder och material från andra terapiformer, till exempel ACT (Acceptans & Commitment Therapy), KBT (Kognitiv Beteendeterapi) och Schematerapi.</p>
			<p>Mitt mål är att med psykosyntesen som grund möta dig där du befinner dig i livet. Tillsammans hjälps vi åt att hitta din motivation och din potential till att utveckla dig till att bli en bättre version av dig själv.</p>
		</div>
	</div>
</article>


<article class="article u-backgroundGray u-paddingA">
	<div class="u-center u-paddingA">
		<h2 class="heading">Priser</h2>
		<h3 class="heading--small">Personlig coaching</h3>
		<p>En session (50 min): 675 SEK inklusive moms</p>
		<p>Coachingpaket (5 x 50 min): 3 600 SEK inklusive moms</p>
	</div>
</article>

<article class="article u-backgroundGray u-paddingA">
	<div class="u-center u-paddingA">
		<h2 class="heading">Kontakt</h2>
	</div>
	<div class="grid">
		<div class="grid-cell" style="height: 100%">
			<div class="u-backgroundWhite u-paddingA">
				<p class="large">
					<a href="mailto:&#106;&#117;&#108;&#105;&#97;&#46;&#109;&#97;&#114;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#106;&#117;&#108;&#105;&#97;&#46;&#109;&#97;&#114;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a><br>
					<a href="tel:0046709750648">0709-75 06 48</a>
				</p>
				<p>
					Stockholm Saltspa<br>
					<a href="https://www.google.se/maps/place/Kornhamnstorg+49,+111+27+Stockholm/@59.323064,18.0689901,17z/data=!3m1!4b1!4m5!3m4!1s0x465f77e2e27606a5:0xc291581af3d4c480!8m2!3d59.323064!4d18.0711788" target="_blank">
						Kornhamnstorg 49
					</a><br>
					111 27 Stockholm
				</p>
			</div>
		</div>
		<a class="grid-cell" href="https://www.google.se/maps/place/Kornhamnstorg+49,+111+27+Stockholm/@59.323064,18.0689901,17z/data=!3m1!4b1!4m5!3m4!1s0x465f77e2e27606a5:0xc291581af3d4c480!8m2!3d59.323064!4d18.0711788" target="_blank" style="background: url(https://maps.googleapis.com/maps/api/staticmap?center=Kornhamnstorg+49+Stockholm&zoom=14&size=1000x500&maptype=roadmap&markers=Kornhamnstorg+49+Stockholm); background-size: cover; background-position: center center">
		</a>
	</div>

	<div class="u-center u-paddingA">
		<h3>Skicka ett meddelande</h3>
		<form class="contact js-contactForm" action="/sendmail" method="GET">
			<input class="contact-field" type="text" name="name" placeholder="Namn">
			<input class="contact-field" type="email" name="email" placeholder="E-post">
			<textarea class="contact-textarea" rows="8" name="message" placeholder="Meddelande"></textarea>
			<button class="contact-button">Skicka</button>
			{{#if query.email-sent}}
				<p class="contact-success">Meddelandet har skickats.</p>
			{{/if}}
			{{#if query.email-error}}
				<p class="contact-error">Någonting gick fel och meddelandet kunde tyvärr inte skickas. Vänligen försök igen.</p>
			{{/if}}
		</form>
	</div>
</div>

{{!-- 
--}}

{{!-- <svg version="1.1" width="100%" height="100%" viewBox="0 0 100 28"><polygon class="svg-colour" points="0,27.5 0,28 100,28 100,0"></polygon></svg> --}}