<div class="hero">
	<hgroup>
		<h1 class="kicker"><strong>Julia Maric</strong></h1>
		<h2>Coaching i Stockholm</h2>
	</hgroup>
</div>

<div class="section">
	<div class="section-content">
		<h2>Om mig</h2>
		<p>Jag är Diplomerad Coach och har dessförinnan jobbat med samtal ideellt i 15 år. Jag jobbar parallellt inom HR och rekrytering men är i grunden farmaceut. Jag har också påbörjat en vidareutbildning med målet att bli samtalsterapeut.</p>
		<p>Jag tror på samtal som nyckeln till fred och kärlek. oavsett om det handlar om att skapa en bättre värld eller förbättra relationen till sig själv eller andra. Samtal är personlig utveckling.</p>
	</div>
</div>

<div class="section">
	<div class="section-content">
		<h2>Vad är coachning?</h2>
		<p>Coachning handlar om att hjälpa dig att nå dina mål. Vi utgår från nuläget och tittar framåt mot ett specifikt mål, utan att grotta i det som varit. Vi fokuserar på möjligheter och lösningar och tar oss mot målet genom att titta och reflektera kring bland annat hinder.</p>
		<p>Med hjälp av dina resurser och din inre motivation skapar vi din egna handlingsplan för att nå målet. Allt enligt dina grundläggande värderingar. Mellan sessionerna får du hemläxor och övningar som du jobbar praktiskt med på egen hand. Du kommer börja bygga ett nytt förhållningssätt till dig själv och din potential som du kan använda dig av i andra skeden i ditt liv.</p>
	</div>
</div>

<!--
<div class="section section--parallax section--three">
	<div class="section-content">
		div3
	</div>
</div>
-->

<div class="section">
	<div class="section-content">
		<h2>Vanliga områden</h2>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Personlig utveckling</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Personlig utveckling kommer inte utav sig själv, utan det är något man måste jobba med.</p>
				<p>Det är inte heller något man blir färdig med och den kan betyda olika saker i olika skeden i livet. Personlig utveckling skulle kunna vara att utforska sina värderingar, hitta en meningsfull fritid, skapa sig ett självförtroende och finna sin potential.</p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Självkännedom</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Att bli coachad är ett effektivt sätt att öka sin självkännedom och att utveckla sin potential. Det innebär att lära sig om sina egna värderingar och mål i livet; förstå vad som är viktigt för en själv, vad ens målsättningar är, vad man tycker är rätt och fel, vad man känner passion för, och vad man ser som syftet eller meningen med ens liv. Ju bättre man känner sig själv, desto enklare blir det att ta viktiga beslut och att designa det liv man vill ha och leva.<p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Självkänsla</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>En god självkänsla handlar om att ha en positiv uppfattning kring vem man är oberoende av prestationer, karriär eller hur mycket pengar man tjänar.</p>
				<p>Man litar på sitt eget omdöme och behöver inte söka bekräftelse från andra för att känna att man duger. Målet är att hitta sin trygghet inom sig själv, tycka om och respektera sig själv som man är oavsett situation.En god självkänsla hjälper en att lita på sig själv och göra val utifrån vad man själv vill.</p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Välmående</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Att jobba med sitt välmående handlar om att öka medvetenheten kring vad det är som får en att må bra i livet. Det kan handla om att hitta en balans mellan jobb och familj, vårda sina relationer, använda sin tid på ett sätt som känns meningsfullt, eller att hitta en avslappningsrutin för att uppleva mindre stress. Målet med coachningen är att uppnå en hållbar och balanserad livsstil.</p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Karriär</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Karriärfokuserad coaching kan handla om att avancera i sin nuvarande roll eller att utvecklas i sitt ledarskap. Det kan också handla om att få hjälp att ta sig vidare i karriären, realisera drömmar, eller att lista ut vad det är man faktiskt vill göra med sitt liv.</p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Relationer</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Coachning inom relationer kan handla om relationen till sin partner eller en partner man inte har. Det kan handla om relationen till sina föräldrar eller sina barn. Eller önskan om ett barn. Det kan handla om relationer till vänner men det kan också handla om relationen till sig själv.</p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Hälsa</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Att coachas inom hälsa kan handla om träning, vikt men också hur man hanterar sjukdomar, fobier och sömnsvårigheter.</p>
			</div>
		</div>

		<div class="accordion js-accordion">
			<h3 class="accordion-heading js-accordionToggler">Livshändelser</h3>
			<div class="accordion-panel js-accordionPanel">
				<p>Livet i sig är fullt av situationer som man inte kan ha föreställt sig om innan man hamnar där. Coachning inom livshändelser kan handla om till exempel ett nyblivet föräldraskap, en skilsmässa eller hur man ska hantera och leva med ett dödsfall.</p>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="section-content">
		<div class="box">
			<h2>Personlig coachning</h2>
			<p>En session (60 min): 995 SEK ink. moms</p>
			<p>Coachingpaket (5 x 60 min): 3 995 SEK ink. moms</p>
		</div>
	</div>
</div>

<div class="section">
	<div class="section-content">
		<div class="column column--left">
			<h2>Kontakt</h2>
			<p class="large">
				<a href="mailto:&#106;&#117;&#108;&#105;&#97;&#46;&#109;&#97;&#114;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#106;&#117;&#108;&#105;&#97;&#46;&#109;&#97;&#114;&#105;&#99;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a><br>
				<a href="tel:0046709750648">0709-75 06 48</a>
			</p>
			<p>
				Stockholm Saltspa<br>
				<a href="https://www.google.se/maps/place/Kornhamnstorg+49,+111+27+Stockholm/@59.323064,18.0689901,17z/data=!3m1!4b1!4m5!3m4!1s0x465f77e2e27606a5:0xc291581af3d4c480!8m2!3d59.323064!4d18.0711788" target="_blank">
					Kornhamnstorg 49
				</a><br>
				111 27 Stockholm
			</p>
			<a href="https://www.google.se/maps/place/Kornhamnstorg+49,+111+27+Stockholm/@59.323064,18.0689901,17z/data=!3m1!4b1!4m5!3m4!1s0x465f77e2e27606a5:0xc291581af3d4c480!8m2!3d59.323064!4d18.0711788" target="_blank">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=Kornhamnstorg+49+Stockholm&zoom=14&size=350x250&maptype=roadmap&markers=Kornhamnstorg+49+Stockholm">
			</a>
		</div>
		<div class="column column--right">
			<h3>Skicka ett meddelande</h3>
			<form class="contact js-contactForm" action="/sendmail" method="GET">
				<input class="contact-field" type="text" name="name" placeholder="Namn">
				<input class="contact-field" type="email" name="email" placeholder="E-post">
				<textarea class="contact-textarea" rows="8" name="message" placeholder="Meddelande"></textarea>
				<button class="contact-button">Skicka</button>
				{{#if query.email-sent}}
					<p class="contact-success">Meddelandet har skickats.</p>
				{{/if}}
				{{#if query.email-error}}
					<p class="contact-error">Någonting gick fel och meddelandet kunde tyvärr inte skickas. Vänligen försök igen.</p>
				{{/if}}
			</form>
		</div>
	</div>
</div>

{{!-- <svg version="1.1" width="100%" height="100%" viewBox="0 0 100 28"><polygon class="svg-colour" points="0,27.5 0,28 100,28 100,0"></polygon></svg> --}}