.heading {
	font-family: 'Volte';
	font-weight: 500;
	line-height: 1em;
	margin: 0;
	margin-bottom: 1rem;
	font-size: 35px;
	text-transform: uppercase;
}

.heading--large {
	font-size: 80px;
	line-height: 120px;
	margin: 0;
}

.heading--small {
	margin-top: 2rem;
}